{% extends 'admin.html' %}
{% block content %}
<!-- page content -->
<div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
<!--alert  -->{% if error %}

                <div class="alert alert-success alert-dismissible fade in" role="alert">
                 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                 </button>
                 <strong>  {{error}}</strong>
               </div>
                {% endif %}
                {%if method%}
                {{method}}
                {%endif%}
                {%if error1%}
                <div class="alert alert-warning alert-dismissible fade in" role="alert">
                   <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                   </button>
                   <strong>{{error1}}</strong>
                 </div>
                {%endif%}

<!--end alert  -->
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <!-- form section  -->
                  <div class="x_content">
                    {% if topicEdit%}
                  <h1>test topicEdit</h1>
                    <form class="form-horizontal form-label-left" action="{% url 'edit' topicEdit.id %}" enctype="multipart/form-data"  method="POST" novalidate>
                      {% csrf_token %}


                    <span class="section">Learning Path Info</span>


                    <div class="item form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">Topic Title <span class="required">*</span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <input id="title" class="form-control col-md-7 col-xs-12"  name="title" placeholder="Topic title e.g Fastfood" required="required" type="text" value="{{topicEdit.topicTitle}}">
                      </div>
                    </div>
                    <div class="item form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">Description: <span class="required">*</span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <textarea id="description" required="required" name="description" class="form-control col-md-7 col-xs-12" value="{{topicEdit.description}}">{{topicEdit.description}}</textarea>
                      </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                      <div class="col-md-6 col-md-offset-3">
                        <button type="" class="btn btn-primary">Cancel</button>
                        <button id="send" type="submit" class="btn btn-success">Edit</button>
                      </div>
                    </div>
                  </form>

                    {%else%}
                    <form class="form-horizontal form-label-left" action="{% url 'create' %}" enctype="multipart/form-data"  method="POST" novalidate>
                      {% csrf_token %}


                    <span class="section">Learning Path Info</span>


                    <div class="item form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">Topic Title <span class="required">*</span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <input id="title" class="form-control col-md-7 col-xs-12"  name="title" placeholder="Topic title e.g Fastfood" required="required" type="text">
                      </div>
                    </div>
                    <div class="item form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">Description: <span class="required">*</span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <textarea id="description" required="required" name="description" class="form-control col-md-7 col-xs-12"></textarea>
                      </div>
                    </div>
                    <div class="item form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">Search wiki: <span class="required">*</span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <input id="search_wiki"  class="form-control  col-md-7 col-xs-12"  name="search_wike" placeholder="Enter your text to search for" required="required" type="text">
                      </div>
                    </div>
                    <div>
                    <div class="control-label col-md-3 col-sm-3 col-xs-12"></div>
                    <div class="wiki_reulst  col-md-7 col-xs-12" id="wiki_result">
                            <div class="rowcustom" >
                              <input type="checkbox" id="checkbox1"/>
                              <span id="textvalue1" >The first value</span>
                              <input type="hidden" value="www.google.com"/>
                            </div>
                      </div>
                    </div>



                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                      <div class="col-md-6 col-md-offset-3">
                        <button type="" class="btn btn-primary">Cancel</button>
                        <button id="send" type="submit" class="btn btn-success">Submit</button>
                      </div>
                    </div>
                  </form>

                    {%endif%}


                  </div>
                    <!-- end form section  -->
                    <!-- table section  -->
                    <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Learning Paths <small>Available learning paths so far</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Topic Title</th>
                          <th>Description</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>

                        {%if topics.count > 0 %}

                        {% for topic in topics.all %}
                        <tr>
                          <th scope="row">{{topic.id}}</th>
                          <td>{{topic.topicTitle}}</td>
                          <td>{{topic.description}}</td>
                          <td>
                            <div class="buttons">
                              <a href="{%url 'edit' topic.id%}"><button type="button" class="btn btn-success btn-xs">Edit</button></a><button type="button" class="btn btn-primary btn-xs">view</button> <button type="button" class="btn btn-danger btn-xs">delete</button>
                            </div>
                          </td>
                        </tr>
                        {%endfor%}
                        {%endif%}

<!-- in this learning Path you will be learning servers recipes to cook delicious fast-food  -->
                      </tbody>
                    </table>
                    <!--wiki data  -->
                        test mohammad
                  </div>
                </div>
              </div>

              <div class="clearfix"></div>
                    <!-- end of table section  -->
                </div>
              </div>
            </div>
<!-- /page content -->


{% endblock %}
